<html>
<head>
<title>internal style</title>
<style type="text/CSS">
body{
    background-color:grey;
}
p{
    color:aqua;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-size: 25px;
    color: darkblue;
}
</style>
</head>
<body>
<h4>about biko internet solution</h4>
<p>we are located along nyali link road whereby our headquarter is based but having various outlets within mombasa county.we normally supply internet which is fast and at comparatively cheap price which suit comrade pocket from 2mbps to maximum. we also do offices configuration internet works and cctv installation.</p>
</body>
</html>
