body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Hevetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#navbar{
	background-color:#333;
	color:#555;
}

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color:blue;
	text-decoration: none;
	font-size: 18px;
	padding-right:15px; 
}

#showcase{
	background-image:url('../My Website/background.jpg');
	background-position: center;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
}

#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 30%;
	background-color:#333;
	color: #fff;
	padding: 0 30px;
	box-sizing: border-box;
	font-family:serif;
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}